@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/*-----------------------------------------------------------------------------------
	    landing-page
-----------------------------------------------------------------------------------*/

body {
   margin: 0;
   padding: 0;
   background: #FFF;
   overflow-x: hidden;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: 'Noto Sans KR', sans-serif;
   height: 100%;
}

a:hover {
   text-decoration: none;
   cursor: pointer;
}


/* Prevent ugly blue glow on chrome and safari */

#page-loading-blocs-notifaction {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 100%;
   z-index: 100000;
   background: #FFFFFF url("img/pageload-spinner.gif") no-repeat center center;
}


/* = Blocs
-------------------------------------------------------------- */

.bloc {
   width: 100%;
   clear: both;
   background: 50% 50% no-repeat;
   padding: 0 50px;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   position: relative;
}

.bloc .container {
   padding-left: 0;
   padding-right: 0;
}


/* Sizes */

.bloc-lg {
   padding: 100px 50px;
}

.bloc-md {
   padding: 80px 30px;
}


/* Background Textures */

.bloc-bg-texture::before {
   content: "";
   background-size: 2px 2px;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}

.texture-darken::before {
   background: rgba(0, 0, 0, 0.5);
}


/* Light theme */

.d-bloc .panel,
.l-bloc {
   color: rgba(0, 0, 0, .5);
}

.d-bloc .panel button:hover,
.l-bloc button:hover {
   color: rgba(0, 0, 0, .7);
}

.l-bloc .icon-round,
.l-bloc .icon-square,
.l-bloc .icon-rounded,
.l-bloc .icon-semi-rounded-a,
.l-bloc .icon-semi-rounded-b {
   border-color: rgba(0, 0, 0, .7);
}

.d-bloc .panel .divider-h span,
.l-bloc .divider-h span {
   border-color: rgba(0, 0, 0, .1);
}

.d-bloc .panel .a-btn,
.l-bloc .a-btn,
.l-bloc .navbar a,
.l-bloc .navbar-brand,
.l-bloc a .icon-sm,
.l-bloc a .icon-md,
.l-bloc a .icon-lg,
.l-bloc a .icon-xl,
.l-bloc h1 a,
.l-bloc h2 a,
.l-bloc h3 a,
.l-bloc h4 a,
.l-bloc h5 a,
.l-bloc h6 a,
.l-bloc p a {
   color: rgba(0, 0, 0, .6);
}

.d-bloc .panel .a-btn:hover,
.l-bloc .a-btn:hover,
.l-bloc .navbar a:hover,
.l-bloc .navbar-brand:hover,
.l-bloc a:hover .icon-sm,
.l-bloc a:hover .icon-md,
.l-bloc a:hover .icon-lg,
.l-bloc a:hover .icon-xl,
.l-bloc h1 a:hover,
.l-bloc h2 a:hover,
.l-bloc h3 a:hover,
.l-bloc h4 a:hover,
.l-bloc h5 a:hover,
.l-bloc h6 a:hover,
.l-bloc p a:hover {
   color: rgba(0, 0, 0, 1);
}

.l-bloc .navbar-toggle .icon-bar {
   color: rgba(0, 0, 0, .6);
}

.d-bloc .panel .btn-wire,
.d-bloc .panel .btn-wire:hover,
.l-bloc .btn-wire,
.l-bloc .btn-wire:hover {
   color: rgba(0, 0, 0, .7);
   border-color: rgba(0, 0, 0, .3);
}


/* Row Margin Offsets */

.voffset {
   margin-top: 30px;
}


/* Bloc text custom styling */

#hero h2 {
   font-weight: 400;
}


/* = Sticky Nav
-------------------------------------------------------------- */

.sticky-nav.sticky {
   position: fixed;
   top: 0;
   z-index: 1000;
   box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
   transition: all .2s ease-out;
}


/* = Bric adjustment margins
-------------------------------------------------------------- */

.mg-md {
   margin-top: 10px;
   margin-bottom: 20px;
}

.mg-lg {
   margin-top: 10px;
   margin-bottom: 40px;
}


/* = Buttons
-------------------------------------------------------------- */

.btn {
   margin: 0 5px 5px 0;
}

.btn.pull-right {
   margin: 0 0 5px 5px;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
   color: #FFF;
   background: rgba(0, 0, 0, .3);
}


/* Prevent ugly blue glow on chrome and safari */

button {
   outline: none!important;
}

.btn-wire {
   background: transparent!important;
   border: 2px solid transparent;
}

.btn-wire:hover {
   background: transparent!important;
   border: 2px solid transparent;
}

.a-btn {
   padding: 6px 10px 6px 0;
   line-height: 1.42857143;
   display: inline-block;
}

.text-center .a-btn {
   padding: 6px 0;
}

.a-block {
   width: 100%;
   text-align: left;
}

.btn .caret {
   margin: 0 0 0 5px
}

.dropdown a .caret {
   margin: 0 0 0 5px
}

.btn-dropdown .dropdown-menu .dropdown {
   padding: 3px 20px;
}


/* = Icons
-------------------------------------------------------------- */

.icon-md {
   font-size: 30px!important;
}

.icon-lg {
   font-size: 60px!important;
}

.icon-round {
   margin: 0 auto;
   border: 2px solid transparent;
   border-radius: 50%;
   padding: 32px 30px 26px 30px;
   min-width: 80px;
}

.icon-round,
.icon-md,
.icon-square.icon-md,
.icon-rounded.icon-md {
   min-width: 92px;
}

.icon-round.icon-lg,
.icon-square.icon-lg,
.icon-rounded.icon-lg {
   min-width: 122px;
}

.icon-round.icon-xl,
.icon-square.icon-xl,
.icon-rounded.icon-xl {
   min-width: 162px;
}


/* = Text & Icon Styles
-------------------------------------------------------------- */

.lg-shadow {
   text-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.panel-sq,
.panel-sq .panel-heading,
.panel-sq .panel-footer {
   border-radius: 0;
}

.panel-rd {
   border-radius: 30px;
}

.panel-rd .panel-heading {
   border-radius: 29px 29px 0 0;
}

.panel-rd .panel-footer {
   border-radius: 0 0 29px 29px;
}


/* iFrame */

iframe {
   border: 0;
}


/* ScrollToTop button */

.scrollToTop {
   width: 40px;
   height: 40px;
   position: fixed;
   bottom: 20px;
   right: 20px;
   opacity: 0;
   z-index: 500;
   transition: all .3s ease-in-out;
}

.scrollToTop span {
   margin-top: 6px;
}

.showScrollTop {
   font-size: 14px;
   opacity: 1;
}


/* = iPhone 6 Devices
-------------------------------------------------------------- */

.blocsapp-device-iphone6 {
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
   display: block;
   width: 100%;
   height: auto;
   padding: 18%;
}

.blocsapp-device-iphone6 img {
   width: 100%;
   height: auto;
   margin: 0 auto;
}

.blocsapp-device-iphone6.iphone6-space-grey {
   background-image: url("../img/nexus-6p.png");
}


/* = Custom Styling
-------------------------------------------------------------- */

.container {
   max-width: 1170px;
}

.valley-hero-text-s {
   font-size: 60px;
}

.valley-hero-text-sub-s {
   font-size: 34px;
}

.hero-text-vc {
   margin-top: 50%;
}

.device-bloc-icon-phone {
   margin-top: 20%;
   margin-bottom: 20px;
   max-width: 100px;
   max-height: 100px;
   box-shadow: 2px 2px 10px rgba(0, 0, 0, .25);
}

.device-bloc-text {
   width: 90%;
   color: #FFFFFF;
   font-size: 60px;
   font-weight: 300;
}

.device-bloc-text-p {
   font-size: 30px;
   font-weight: 400;
}

.device-bloc-button {}

.device-bloc-text-vc {
   font-size: 50px;
   margin-top: 50%;
}

.tip {
   font-size: 14px;
   text-align: left;
   line-height: 18px;
}


/* = Colour
-------------------------------------------------------------- */


/* Background colour styles */

.bgc-white {
   background-color: #ffffff;
}


/* Text colour styles */

.tc-lavender-gray {
   color: #C8C8C8!important;
}

.tc-white-gray {
   color: #ddd;
}


/* Button colour styles */

.wire-btn-white {
   color: #ffffff!important;
   border-color: #ffffff!important;
}


/* Bloc image backgrounds */

.bg-3-friends {
   background-image: url("/img/bg_3_friends.jpg");
}

.line-break {
   word-spacing: normal;
   word-break: keep-all;
}

#process span {
   display: inline-block;
   border-radius: 500px;
   box-shadow: 0px 0px 2px #888;
}

#process .icon-round {
   border-color: rgba(0, 0, 0, 0.1);
}

#process .icon-md {
   color: white;
   background-color: #666;
}


/* Footer */

footer {
   background-color: #3d3d3d;
   padding: 100px 0;
   font-size: 16px;
   color: white;
}

footer a {
   color: white;
   -webkit-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

footer a:hover {
   color: #ababab;
   text-decoration: none;
}

footer .nav {
   margin: 0 0 30px 0;
}

footer .nav li {
   padding-right: 5px;
}

footer .list-inline-item:not(:last-child) {
   margin-right: 30px;
}

.parallax1 {
   height: 100%;
   background-image: url('../img/bg_3_friends.jpg');
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.parallax2 {
   height: 700px;
   background-image: url('../img/bg_people.jpg');
   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


/* = Mobile adjustments
-------------------------------------------------------------- */

@media (max-width: 1024px) {
   .bloc {
      padding-left: 20px;
      padding-right: 20px;
   }
   .bloc.full-width-bloc,
   .bloc-tile-2.full-width-bloc .container,
   .bloc-tile-3.full-width-bloc .container,
   .bloc-tile-4.full-width-bloc .container {
      padding-left: 0;
      padding-right: 0;
   }
}


}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
   .b-parallax {
      background-attachment: scroll;
   }
}
@media (max-width: 768px) {
   .container {
      width: 100%;
   }

   .b-parallax {
      background-attachment: scroll;
   }

   .page-container,
   #hero-bloc {
      overflow-x: hidden;
      position: relative;
   }
   /* Prevent unwanted side scroll on mobile */
}
@media (max-width: 767px) {
   .page-container {
      overflow-x: hidden;
      position: relative;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   #disqus_thread {
      padding-left: 10px!important;
      padding-right: 10px!important;
   }

   #hero-bloc h1 {
      font-size: 40px;
   }

   #hero h2 {
      font-size: 34px;
   }

   #hero-bloc h3 {
      font-size: 25px;
   }

   .bloc {
      padding-left: 0;
      padding-right: 0;
      -webkit-background-size: auto 200%;
      -moz-background-size: auto 200%;
      -o-background-size: auto 200%;
      background-size: auto 200%;
   }

   .b-parallax {
      background-attachment: scroll;
   }

   .navbar .nav {
      padding-top: 0;
      border-top: 1px solid rgba(0, 0, 0, .2);
      float: none!important;
   }

   .navbar.row {
      margin-left: 0;
      margin-right: 0;
   }

   .site-navigation {
      position: inherit;
      transform: none;
      -webkit-transform: none;
      -ms-transform: none;
   }

   .dropdown .dropdown a .caret {
      float: none;
      margin: 5px 0 0 10px!important;
      border: 4px solid black;
      border-bottom-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
   }

   #hero-bloc .navbar .nav {
      background: rgba(0, 0, 0, .8);
   }

   #hero-bloc .navbar .nav a {
      color: rgba(255, 255, 255, .6);
   }

   .hero {
      padding: 50px 0;
   }

   .hero-nav {
      left: -1px;
      right: -1px;
   }

   .navbar-collapse {
      padding: 0;
      overflow-x: hidden;
      -webkit-box-shadow: none;
      box-shadow: none;
   }

   .navbar-brand img {
      max-height: 40px;
      width: auto;
      margin: -10px 10px 0 0;
   }

   .nav-invert .navbar-header {
      float: none;
      width: 100%;
   }

   .nav-invert .navbar-toggle {
      float: left;
   }

   .bloc-group .bloc {
      display: block;
      width: 100%;
   }

   .bloc-tile-2 .container,
   .bloc-tile-3 .container,
   .bloc-tile-4 .container {
      padding-left: 10px;
      padding-right: 10px;
   }

   .bloc-xxl,
   .bloc-xl,
   .bloc-lg {
      padding: 40px 0;
   }

   .bloc-sm,
   .bloc-md {
      padding-left: 0;
      padding-right: 0;
   }

   .a-block {
      padding: 0 10px;
   }

   .btn-dwn {
      display: none;
   }

   .voffset {
      margin-top: 5px;
   }

   .voffset-md {
      margin-top: 20px;
   }

   .voffset-lg {
      margin-top: 30px;
   }

   form {
      padding: 5px;
   }

   .close-lightbox {
      display: inline-block;
   }

   .video-bg-container {
      display: none;
   }

   .blocsapp-device-iphone5 {
      background-size: 2126px 425px;
      padding-top: 60px;
      width: 216px;
      height: 425px;
   }

   .blocsapp-device-iphone5 img {
      width: 180px;
      height: 320px;
   }
}
@media (max-width: 768px) {
   .hero-text-vc,
   .mobile .hero-text-vc {
      margin-top: 10%;
   }
   /* Mobile Text Margin Offsets */

   .mg-lg-sm {
      margin-top: 10px;
      margin-bottom: 40px;
   }

   #hero .tip {
      font-size: 14px;
      line-height: 18px;
   }

   .text-left-sm {
      text-align: left;
   }

   #hero h2,
   #hero p {
      text-align: center;
   }

   #hero .btn-install {
      margin-left: auto;
      margin-right: auto;
   }

   #hero .bloc-md {
      padding-top: 20px;
   }

   .device-bloc-icon-phone {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
   }

   .text-md-right {
      text-align: right!important;
   }
}
@media (max-width: 420px) {
   .hero-text-vc {
      margin-top: 0px;
   }

   .device-bloc-text {
      width: 100%;
      font-size: 35px;
      text-align: center;
   }

   .device-bloc-text-p {
      font-size: 25px;
      text-align: center;
   }

   .device-bloc-button {
      width: 100%;
   }

   .blocs-mob-center-text {
      text-align: center;
   }

   .bloc-mob-center-text {
      text-align: center;
   }

   .parallax2 {
      height: 300px;
   }

   footer {
      padding: 30px 0 20px 0;
   }
}
